<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Podfather</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <h1>Podfather</h1>
        <div>A social podcast app.</div>

        <?php if (isset($name)) : ?>
            <h2>Hello <?= htmlspecialchars($name); ?>!</h2>
            <p>Welcome to PodFather!! We offer excellent services and complimentary hugs :-)</p>
            <p>Web-app coming soon.</p>
        <?php else : ?>
            <p>Explore.Enjoy.Live</p>
        <?php endif; ?>
    </body>
</html>
